label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
}

body { 
      font-size: 15pt;
      font-family: arial;
      background-image: url(http://www.psdgraphics.com/file/light-blue-background.jpg); 
}

.btn-link {
      border:none;
      outline:none;
      background:none;
      cursor:pointer;
      color:#4863a8;
      padding-top:1em;
      text-decoration:underline;
      font-family:inherit;
      font-size:inherit;
}

h2 {
  text-transform: uppercase;
}
