
<html>
	
<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>


<body>
	<h1>All League of Legends Champions</h1>



	<p><a href="/">Return to Homepage</a></p>

  
        <img src="https://i.ytimg.com/vi/kWRF7BreXkE/maxresdefault.jpg" width="400" height = "240">
  
        <br>        
 
	<table cellspacing="5">

	<thead>
		<tr><th>Champion</th></tr>
	</thead>
	<tbody>
		{% for n in champs %}
    	<tr>
    		<td>
    			<form action="/champions" method="post">
	              <button type="submit" name="name" value="{{n}}" class="btn-link">
	                {{n}}
	              </button>
	            </form>
    		</td>
    	</tr>
    {% endfor %}
	</tbody>

	</table>

</body>


</html>
