
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>


<body>

  <p><a href="/">Return to Homepage</a></p>

  {% if found %}

  <h2>{{champ_info[0]}}, {{champ_info[5]}}</h2>

  <b>Faction:</b> {{champ_info[2]}}
  <br><b>Price:</b> {{champ_info[1]}}, <b>Mana:</b> {{champ_info[3]}}, <b>Energy:</b> {{champ_info[4]}}

  <p><h3>Champion Abilities:</h3></p>

  <div>
    <p>
      {% for n in abilities %}
          {% if n[4] == "p" %}
            <b>Passive:</b> {{n[0]}}
            <br><b>Description:</b> {{n[1]}}
          {% endif %}
      {% endfor %}
    </p>

    <p>
      {% for n in abilities %}
          {% if n[4] == "q" %}
            <b>Q:</b> {{n[0]}}
            <br><b>Description:</b> {{n[1]}}
            <br><b>Type:</b> {{n[2]}}
          {% endif %}
      {% endfor %}
    </p>

    <p>
      {% for n in abilities %}
          {% if n[4] == "w" %}
            <b>W:</b> {{n[0]}}
            <br><b>Description:</b> {{n[1]}}
            <br><b>Type:</b> {{n[2]}}
          {% endif %}
      {% endfor %}
    </p>

    <p>
      {% for n in abilities %}
          {% if n[4] == "e" %}
            <b>E:</b> {{n[0]}}
            <br><b>Description:</b> {{n[1]}}
            <br><b>Type:</b> {{n[2]}}
          {% endif %}
      {% endfor %}
    </p>
      
    <p>
      {% for n in abilities %}
          {% if n[4] == "r" %}
            <b>R:</b> {{n[0]}}
            <br><b>Description:</b> {{n[1]}}
            <br><b>Type:</b> {{n[2]}}
          {% endif %}
      {% endfor %}
    </p>
    </div>

  
  <br><p><h3>Available Skins:</h3></p>

  <table cellspacing="5">

  <thead>
    <tr><th>Skin Name</th><th>Price (in RP)</th></tr>
  </thead>
  <tbody>
    {% for n in skins %}
      <tr>
        <td>{{n[0]}}</td>
        <td>{{n[1]}}</td>
      </tr>
    {% endfor %}
  </tbody>

  </table>


  <br><p><h3>Compatible with:</h3></p>

  <table cellspacing="5">

  <thead>
    <tr><th>Champion</th></tr>
  </thead>
  <tbody>
    {% for n in compatible %}
      <tr>
        <td>
          <form action="/champions" method="post">
            <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
              {{n[0]}}
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>

  </table>


  <br><p><h3>Strong against:</h3></p>

  <table cellspacing="5">

  <thead>
    <tr><th>Champion</th></tr>
  </thead>
  <tbody>
    {% for n in strong %}
      <tr>
        <td>
          <form action="/champions" method="post">
            <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
              {{n[0]}}
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>

  </table>

  {% else %}

  <p>Sorry, your entry <b>'{{name}}'</b> was not found in the database.</p>

  Please visit the link below to view all of our champions!

  <p><a href="all_champions">All Champions</a></p>

  {% endif %}
	
  

</body>


</html>
