
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>


<body>

  <p><a href="/">Return to Homepage</a></p>

  <h3>Filter Results</h3>

  You queried all champions of
  <br><br><b>type:</b> {{type}}
  <br><b>role:</b> {{role}}
  <br><b>compatibility with:</b> {{compatible}}
  <br><b>counters:</b> {{counter}}
  <br><br>

  {% if found %}

  <table cellspacing="5">

  <thead>
    <tr><th>Champion</th><th>Nickname</th><th>Faction</th><th>Price (in RP)</th></tr>
  </thead>
  <tbody>
    {% for n in champs %}
      <tr>
        <td>
          <form action="/champions" method="post">
            <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
              {{n[0]}}
            </button>
          </form>
        </td>
        <td>{{n[1]}}</td>
        <td>{{n[2]}}</td>
        <td>{{n[3]}}</td>
      </tr>
    {% endfor %}
  </tbody>

  </table>
  
	{% else %}

  Sorry, no results matched your query.
  Please return to the homepage and try again!

  {% endif %}
  

</body>


</html>
