<html>
  <style>
    body{
      background-image: url(http://www.psdgraphics.com/file/light-blue-background.jpg);
      font-size: 15pt;
      font-family: arial;
   }
    label {
      width:15em;
      clear:left;
      text-align:left;
      padding-right:1em;
    }

    input, label {
      float:left;
      padding-top: 0.5em
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding-left: 1em;
      padding-right: 1em;
    }
    .btn-link {
      border:none;
      outline:none;
      background:none;
      cursor:pointer;
      color:#4863a8;
      padding-top:1em;
      text-decoration:underline;
      font-family:inherit;
      font-size:inherit;
    }
    div.background {
      background: url(http://static.lolskill.net/img/skins/1215/teemo_0.jpg) repeat;
      border: 2px solid black;
    }

    div.transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.9;
      filter: alpha(opacity=90); /* For IE8 and earlier */
    }

    div.transbox p {
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
 
 </style>


<body>
  <h1>League of Legends, Champion Database</h1>
  
  <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Teemo_5.jpg" width="400" height = "240">
  
  <p>
  <a href="/">Refresh</a>
  <br><a href="all_champions">New to League? Check out all our Champions!</a>
  <br><a href="skins">Visit our new skins page!</a>
  <br><a href="vote">Have a favorite champion? Vote in our new poll!</a>
  <a href="results">Results</a>
  <br>
  </p>

  <form method="POST" action="/champions">
  <p><label><b>Search a champion:</b></label> <input type="text" name="name"> <input type="submit" value="search"></p>
  </form>

  <br><form method="POST" action="/types">
  <p><b><label>Search a champion-type:</b></label> <input type="text" name="name"> <input type="submit" value="search"></p>
  </form>

  <br><br><br><br><b>Filter our champion list:</b>

  <form method="POST" action="/filter">
  <br><label>Filter by champion type:</label> <input type="text" name="type">
  <br><label>Filter by champion role:</label> <input type="text" name="role">
  <br><label>Filter by compatible champions:</label> <input type="text" name="compatible">
  <br><label>Filter by counters:</label> <input type="text" name="counter">
  <br><input type="submit" value="query">
  </form>

  <br><br><br>

  {% if prompt1 %}
    <h3>Impress your friends with these awesome skins!</h3>

    <table cellspacing="5">

    <thead>
      <tr><th>Champion</th><th>Skin Name</th><th>Price (in RP)</th></tr>
    </thead>
    <tbody>
      {% for n in data %}
        <tr>
          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n[2]}}" class="btn-link">
                {{n[2]}}
              </button>
            </form>
          </td>
          <td>{{n[0]}}</td>
          <td>{{n[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>

    </table>

  {% endif %}



  {% if prompt2 %}
    <h3>Learn the lore behind your favorite champions!</h3>

    <table cellspacing="5">

    <thead>
      <tr><th>Champion</th><th>Faction</th></tr>
    </thead>
    <tbody>
      {% for n in data %}
        <tr>
          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
                {{n[0]}}
              </button>
            </form>
          </td>
          <td>{{n[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>

    </table>

  {% endif %}



  {% if prompt3 %}
    <h3>Discover which champions work well together!</h3>

    <table cellspacing="5">

    <thead>
      <tr><th>Champion 1</th><th>Champion 2</th></tr>
    </thead>
    <tbody>
      {% for n in data %}
        <tr>
          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
                {{n[0]}}
              </button>
            </form>
          </td>

          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n[1]}}" class="btn-link">
                {{n[1]}}
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>

    </table>

  {% endif %}

</body>

</html>
