
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>

<body>

  {% set total = total_votes %}

  <p><a href="/">Return to Homepage</a></p>

  <p><h3>Favorite Champion Poll Results</h3></p>

  <table cellspacing="5">

    <thead>
      <tr><th>Champion</th><th>Percentage of Total Votes</th></tr>
    </thead>

    <tbody>
      {% for n in champs %}

        {% set num_votes = n[1] %}
        {% set percent = num_votes / total * 100 %}

        <tr>
          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n[0]}}" class="btn-link">
                {{n[0]}}
              </button>
            </form>
          </td>
          
          <td>
            {{ '%0.0f' % percent }}
          </td>

        </tr>
      {% endfor %}
    </tbody>

  </table>



</body>


</html>
