
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>


<body>
	<h1>Which skin will you choose next!?</h1>

	<p><a href="/">Return to Homepage</a></p>

  
        <img src="http://1.bp.blogspot.com/-9eavV3qQbqQ/VlajJAmVFJI/AAAAAAAAN8U/COFxnvuTzAU/s1600/teemo.png" width="400" height = "240">
  
        <br>
 
	<table cellspacing="5">

	<thead>
		<tr><th>Champion</th><th>Skin Name</th><th>Price (in RP)</th></tr>
	</thead>
	<tbody>
		{% for n in data %}
    	<tr>
    		<td>
          <form action="/champions" method="post">
            <button type="submit" name="name" value="{{n[2]}}" class="btn-link">
              {{n[2]}}
            </button>
          </form>
        </td>
    		<td>{{n[0]}}</td>
    		<td>{{n[1]}}</td>
    	</tr>
    {% endfor %}
	</tbody>

	</table>

</body>


</html>
