
<html>
	
<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>

<body>
	<h1>Champion Type Results</h1>

  <p><a href="/">Return to Homepage</a></p>

  {% if found %}

    <br><h4>A {{name}} can best be described as follows:</h4>
    <p>{{description}}</p>

    <br><p>The following are {{name}} champions:</p>

    <table cellspacing="5">

    <thead>
      <tr><th>Champion</th></tr>
    </thead>
    <tbody>
      {% for n in data %}
        <tr>
          <td>
            <form action="/champions" method="post">
              <button type="submit" name="name" value="{{n}}" class="btn-link">
                {{n}}
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>

    </table>

  {% else %}

    <p>Your entry '{{name}}' was not found in the database!</p>

    <p>The following are valid entries in searching 'types':</p>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

  {% endif %}

  

</body>


</html>
