
<html>
	
<head>
  <link rel="stylesheet" type="text/css" href="static/master.css" />
</head>

<body>

  <p><a href="/">Return to Homepage</a></p>

  {% if has_voted %}

    <p><h3>Thanks for voting!</h3></p>

    <p>Click the link below to view the poll's results!</p>

    <p><a href="/results">Results</a></p>

  {% else %}
    
    <h1>Vote for your favorite champion!</h1>
   
    <img src="http://static.lolskill.net/img/skins/1215/teemo_0.jpg" width="400" height = "240">
   
    <br> 

    <table cellspacing="5">

      <thead>
        <tr><th>Champion</th></tr>
      </thead>
      <tbody>
        {% for n in champs %}
          <tr>
            <td>
              <form action="/vote" method="post">
                <button type="submit" name="name" value="{{n}}" class="btn-link">
                  {{n}}
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% endif %}

</body>


</html>
